@model GameLoggerIden.Models.ChangePasswordViewModel
@{
    <link href="@Url.Content("~/Content/css/manage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/animations.css")" rel="stylesheet" type="text/css" />

    ViewBag.Title = "Change Password";
}

<h4 class="floating">Change Password</h4>
<hr class="animated slideInLeft" />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group animated flipInX" style="animation-delay: 0.1s;">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group animated flipInX" style="animation-delay: 0.2s;">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group animated flipInX" style="animation-delay: 0.3s;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group animated fadeInUp">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-success" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}